*~
config/database.yml
config/*.sphinx.conf
db/*.sqlite3
db/sphinx
log/*.log
log/*.pid
public/system
public/system/*
public/assets
tmp/**/*
tmp
.bundle
webrat.log
.sass-cache/
tmp/
diff.diff
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/settings/production.yml
node_modules
source/diff.diffrake
