*~
config/database.yml
config/*.sphinx.conf
db/*.sqlite3
db/schema.rb
db/sphinx
log/*.log
log/*.pid
public/system
public/system/*
public/assets
tmp/**/*
tmp
.bundle
Capfile
webrat.log
.sass-cache/
tmp/

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/settings/production.yml
