%h1
  Вы искали:
  = @search
- if @result.empty?
  %p Ничего не найдено
- else
  %ol
    - @result.each do |result|
      %li
        - case result.class.name
        - when "Category"
          = link_to result.name, result.path
        - when "Page"
          - label = (result.category ? result.category.name + " / " : "")+result.name
          = link_to label, result.path
