html {
  height: 100%;
}

body {
  background: #D5E9F6;
  height: 100%;
}

/* special */

.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

/* layout */
#header {
  height:119px;
  padding:0;
  background:#F7F7F7;
  border-radius: 0 0 119px 119px;
}

a#logo {
  display: block;
  height:119px;
  background: url('../images/rusrails.png') center center no-repeat;
  width: 60%;
  float: left;
}

#header .notice, #header .alert {
  margin: 0 80px 0 60%;
}

div#user_panel {
  margin: 0 80px 0 60%;
  background: #eee;
  border-radius: 0 0 40px 40px;
  height: 40px;
}

#user_panel ul {
  margin: 0;
  padding: 5px 20px;
  list-style-type: none;
}

#user_panel ul li {
  float:left;
  padding:3px 10px;
  border-left: 1px solid #ccc;
  color: #a10f15;
}

#user_panel ul li:first-child {
  border-left: none;
}

#user_panel ul li a {
  color: #404040;
  font-weight: bold;
}

#user_panel ul li a:hover {
  color: #BF1E2E;
  font-weight: bold;
}



div#container {
  background: #ffffff;
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

#content {
  padding: 20px 10px 20px 30px;
  margin-right:210px;
}

#right {
  width:190px;
  float:right;
  padding: 20px 10px;
}

#right ul.menu {
  margin: 0;
  padding:0;
  list-style-type: none;
}

#right li.category_pages {
  border:1px solid red;
  background: #fee;
  margin-bottom:5px;
  padding: 3px;
}

#right li.category_pages>a {
  color: #a10f15;
  font-size: 17px;
  line-height:10px;
  font-weight: bold;
  text-decoration: none;
}

#right li.category_pages.selected>a, #right li.category_pages>a:hover {
  text-decoration: underline;
}

#right li.category_pages ul a {
  color: #a10f15;
  text-decoration: none;
}

#right li.category_pages ul li.selected a, #right li.category_pages ul a:hover {
  text-decoration: underline;
}

#footer {
  height:49px;
  padding:35px 0;
  background:#F7F7F7;
  border-radius: 119px 119px 0 0;
  text-align: center;
}

#github_link {
  color: #4183c4;
  font-weight: bold;
}

#morsbox_link {
  color: #f00;
  font-weight: bold;
  padding: 0 100px;
}

#twitter_link {
  color: #33CCFF;
  font-weight: bold;
  padding: 0 100px;
}

#locum_link {
  color: #206d82;
  font-weight: bold;
}

/* content */

#content h4 {
  font-weight: bold;
}

div.warning {
  background: #f9d9d8 url(../images/tab_red.gif) no-repeat left top;
  padding: 1em 1em 0.25em 48px;
  margin: 0.25em 0 1.5em 0;
}

div.code_container {
  background: #EEE url(../images/tab_grey.gif) no-repeat left top;
  padding: 0.25em 1em 0.5em 48px;
  margin: 0.25em 0 1.5em 0;
}

.note {
  background: #fff9d8 url(../images/tab_note.gif) no-repeat left top;
  border: none;
  padding: 1em 1em 0.25em 48px;
  margin: 0.25em 0 1.5em 0;
}

.info {
  background: #d5e9f6 url(../images/tab_info.gif) no-repeat left top;
  border: none;
  padding: 1em 1em 0.25em 48px;
  margin: 0.25em 0 1.5em 0;
}

.note tt, .info tt {border:none; background: none; padding: 0;}

#prev_link{
  float:left;
}

#prev_link a {
  display:block;
  background: url('/images/arrow_left.png') no-repeat left top;
  padding:35px 0 15px;
  min-width:35px;
  margin-left:85px;
}

#next_link{
  float:right;
}

#next_link a {
  display:block;
  background: url('/images/arrow_right.png') no-repeat right top;
  padding:35px 0 15px;
  min-width:35px;
}

/* search */

#search {
  margin: 0;
  width: 150px;
  padding: 5px 15px 5px 15px;
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  border-radius: 0 0 20px 20px;
  color: #aaa;
  outline: none; /*Remove Chrome and Safari glows on focus*/
}

#search.active {
  background: #ebf3fc;
  border: 1px solid #abd2ff;
  color: #a10f15;
  font-weight:bold;
}

/* forms */

#content input {
  padding: 5px;
}

.left_label{
  float: left;
  width: 200px;
  padding: 5px;
}

.right_value{
  margin-left: 210px;
}

.right_value input[type=text]{
  width: 50%;
}

.right_value textarea{
  width: 80%;
}

/* discussions */

.discussion_title {
  margin-top: 15px;
  padding: 5px 10px;
  background: #eee;
}

.discussion_title .title a {
  font-size: 16px;
}

.say {
  margin-top: 15px;
  padding: 5px 10px;
  background: #f7f7f7;
}

.say .name{
  font-weight: bold
}

.say .time{
  font-style: italic
}

.say .text{
  padding: 5px 15px;
  background: #eee;
  border-radius: 0 0 15px 15px;
}

#new_say{
  margin-top: 15px;
}

.admin_name {
  color: #a10f15;
}

/* secret */

#admin_panel {
  float:left;
  width:200px;
  padding:40px 0;
  background:#fff;
}

#admin_zone {
  margin-left:200px;
  padding:40px 10px 5px 10px;
  background:#fff;
}


#admin_zone label, #admin_zone input, #admin_zone select, #admin_zone textarea {
  display:block;
}

#admin_zone input#page_submit, #admin_zone input#category_submit {
  float:left;
}

#admin_zone select {
  min-width:200px;
}

#admin_zone textarea {
  width:95%;
  height:400px;
}

.admin .notice, .admin .alert {
  position: absolute;
  right: 0;
  width: 400px;
}
