%meta{name: "keywords", content: "Ruby on Rails, Ruby, Rails, Rails 3, Rails 4, Rails 5, Rails 6, Rails 6.0, Rails 6.1 руководство, начинающим, самоучитель, manual, мануал, справочник, учебник, примеры, Руби, рельсы"}
%meta{name: "description", content: "Ruby on Rails руководства, учебники, статьи на русском языке"}

%meta{property: "twitter:card", content: "product"}
%meta{property: "twitter:site", content: "@rusrails"}
%meta{property: "twitter:title", content: opengraph_config[:og_title]}
%meta{property: "twitter:description", content: opengraph_config[:og_description]}
%meta{property: "twitter:creator", content: "@rusrails"}
%meta{property: "twitter:image", content: opengraph_config[:og_image]}

%meta{property: "og:type", content: opengraph_config[:og_type]}
%meta{property: "og:title", content: opengraph_config[:og_title]}
%meta{property: "og:description", content: opengraph_config[:og_description]}
%meta{property: "og:url", content: opengraph_config[:og_url]}
%meta{property: "og:image", content: opengraph_config[:og_image]}
