/  AdRiver code START. Type:240x400 Site: ror PZ: 0 BN: 0
:javascript
  var RndNum4NoCash = Math.round(Math.random() * 1000000000);
  var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
  document.write(
  '<iframe src="' + ('https:' == document.location.protocol ? 'https:' : 'http:') + '//ad.adriver.ru/cgi-bin/erle.cgi?'
  + 'sid=193377&target=blank&bt=22&pz=0&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
  + '" frameborder=0 vspace=0 hspace=0 width=240 height=400 marginwidth=0'
  + ' marginheight=0 scrolling=no></iframe>');

%noscript
  %a(href="//ad.adriver.ru/cgi-bin/click.cgi?sid=193377&bt=22&pz=0&rnd=36547738" target='_blank')
    %img(src="//ad.adriver.ru/cgi-bin/rle.cgi?sid=193377&bt=22&pz=0&rnd=36547738" alt="-AdRiver-" border=0 width=240 height=400)

/  AdRiver code END
