- if @page && @page.path == 'index'
  #main_page_banner.well
    = render "shared/banner", url: 'http://rubyconference.by/', image: 'partners/rubyconf2017.png'

- cache ['v1', @page] do
  = @page.rendered_body(self)

- content_for :menu do
  - cache ['v1', @page, 'menu'] do
    = @page.meta[:menu]
