- if @page && @page.path == 'index'
  #main_page_banner.well
    = link_to "http://railsclub.ru", target: :_blank do
      = image_tag "railsclub.png"
    -# = render "shared/rsya", limit: 2

- cache ['v1', @page] do
  = @page.rendered_body(self)

- content_for :menu do
  - cache ['v1', @page, 'menu'] do
    = @page.meta[:menu]
