-# - if @page && @page.path == 'index'
-#   #main_page_banner.well
-#     = render "shared/partners_banner"

- cache ['v1', @page] do
  = @page.rendered_body(self)

- content_for :menu do
  - cache ['v1', @page, 'menu'] do
    = @page.meta[:menu]
