<h1>Страница не найдена</h1>
<p>Возможно, она была раньше, но потом стала ненужной, и ее убрали.<p>
<p>
  Вряд ли она была переименована или объединена с другой страницей, хотя этого исключать нельзя.
  В таком случае, перейдите на главную страницу и воспользуйтесь навигацией.
</p>
<p><%= link_to "Перейти на главную страницу", root_path %></p>
