%h1 Страница не найдена
%P Возможно, она была раньше, но потом стала не нужной и ее убрали.
%p Вряд ли она была переименована или объединена с другой страницей, хотя этого исключать нельзя. В таком случае, перейдите на главную страницу и воспользуйтесь навигацией
%p= link_to "Перейти на главную страницу.", root_path
  