#main_page_banner {
  float:right;
  width:240px;
  margin:0 0 10px 10px
}

#footer {
  margin-top: 30px;
  padding:35px 0;
  background:#F7F7F7;
  border-radius: 119px 119px 0 0;
  text-align: center;
}

#github_link {
  color: #4183c4;
  font-weight: bold;
}

#morsbox_link {
  color: #f00;
  font-weight: bold;
  padding: 0 100px;
}

#twitter_link {
  color: #33CCFF;
  font-weight: bold;
  padding: 0 100px;
}

#locum_link {
  color: #206d82;
  font-weight: bold;
}

/* forms */

#content input {
  padding: 5px;
}

.left_label{
  float: left;
  width: 200px;
  padding: 5px;
}

.right_value{
  margin-left: 210px;
}

.right_value input[type=text]{
  width: 50%;
}

.right_value textarea{
  width: 80%;
}

#oauth_panel{
  margin-top:20px;
  padding:5px 0;
  background: #fffefe;
}

/* discussions */

.discussion_title {
  margin-top: 15px;
  padding: 5px 10px;
  background: #eee;
}

.discussion_title .subject {
  font-style: oblique;
}

.discussion_title .title a {
  font-size: 16px;
}

.say {
  margin-top: 15px;
  padding: 5px 10px;
  background: #f7f7f7;
}

.say .name{
  font-weight: bold
}

.say .time{
  font-style: italic
}

.say .text{
  padding: 5px 15px;
  background: #eee;
  border-radius: 0 0 15px 15px;
}

#new_say{
  margin-top: 15px;
}

.admin_name {
  color: #a10f15;
}

#preview {
  background: #eee;
  padding: 0 10px;
}

#preview_link {
  display: block;
  margin-bottom: 15px;
}
