.content
  .img-polaroid
    display: block
    margin: 0 auto

div.warning
  background: #f9d9d8 image-url('tab_red.gif') no-repeat left top
  padding: 1em 1em 0.25em 48px
  margin: 0.25em 0 1.5em 0

div.code_container
  background: #EEE image-url('tab_grey.gif') no-repeat left top
  padding: 0.25em 1em 0.5em 48px
  margin: 0.25em 0 1.5em 0

.note
  background: #fff9d8 image-url('tab_note.gif') no-repeat left top
  border: none
  padding: 1em 1em 0.25em 48px
  margin: 0.25em 0 1.5em 0

.info
  background: #d5e9f6 image-url('tab_info.gif') no-repeat left top
  border: none
  padding: 1em 1em 0.25em 48px
  margin: 0.25em 0 1.5em 0

span.rails_mark
  padding: 0 20px
  font-style: italic
  color: red
  font-weight: bold
