<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение вашего пароля, вы можете это осуществить, перейдя по ссылке.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не запрашивали это, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, пока вы не перейдете по ссылке и не укажете новый.</p>
