<p>Привет <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за повышенного количества неудачных попыток входа.</p>

<p>Перейдите по ссылке, чтобы разблокировать свою учетную запись:</p>

<p><%= link_to 'Разблокировать мою учетную запись', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
