/ Яндекс.Директ
:javascript
  yandex_partner_id = 79573;
  yandex_site_bg_color = 'FFFFFF';
  yandex_site_charset = 'utf-8';
  yandex_ad_format = 'direct';
  yandex_font_size = 1;
  yandex_direct_type = 'vertical';
  yandex_direct_border_type = 'block';
  yandex_direct_limit = 4;
  yandex_direct_title_font_size = 3;
  yandex_direct_header_bg_color = 'FEEAC7';
  yandex_direct_bg_color = 'FFF9F0';
  yandex_direct_border_color = 'FBE5C0';
  yandex_direct_title_color = '0000CC';
  yandex_direct_url_color = '006600';
  yandex_direct_all_color = '0000CC';
  yandex_direct_text_color = '000000';
  yandex_direct_hover_color = '0066FF';
  yandex_direct_favicon = true;
  document.write('<sc'+'ript type="text/javascript" src="http://an.yandex.ru/system/context.js"></sc'+'ript>');
