/ Яндекс.Директ
#yandex_ad"
:javascript
  (function(w, d, n, s, t) {
    w[n] = w[n] || [];
    w[n].push(function() {
      Ya.Direct.insertInto(79573, "yandex_ad", {
        site_charset: "utf-8",
        ad_format: "direct",
        font_size: 1,
        type: "vertical",
        border_type: "block",
        limit: 4,
        title_font_size: 3,
        site_bg_color: "FFFFFF",
        header_bg_color: "FEEAC7",
        bg_color: "FFF9F0",
        border_color: "FBE5C0",
        title_color: "0000CC",
        url_color: "006600",
        all_color: "0000CC",
        text_color: "000000",
        hover_color: "0066FF",
        favicon: true
      });
    });
    t = d.documentElement.firstChild;
    s = d.createElement("script");
    s.type = "text/javascript";
    s.src = "http://an.yandex.ru/system/context.js";
    s.setAttribute("async", "true");
    t.insertBefore(s, t.firstChild);
  })(window, document, "yandex_context_callbacks");
